<div class="back-home-products">
    <div class="container-home-products">
        <div class="home-products-left-container">
            <div class="home-products-left-content">
                <div class="home-products-title">
                    <h1>
                        Producten
                    </h1>
                </div>
                <div class="home-products-text">CIP organiseert en faciliteert kennisdeling in vele vormen, zoals themabijeenkomsten, webinars, podcasts, workshops en games. Daarnaast biedt CIP een reeks van producten, Producten- en dienstencatalogus, die iedereen kan downloaden en vrij kan gebruiken onder de Creative Commons licentie Naamsvermelding-Gelijk Delen (tenzij anders vermeld). Zoek producten naar aandachtsgebied door te klikken op het betreffende blok hieronder.</div>
            </div>
        </div>
        <div class="home-products-right">
            <div class="home-products-cards">
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
                <div class="home-products-card-back">
                    <div class="home-products-card">
                        <div class="home-products-card-name">Bio en Thema-uitwerkingen</div>
                        <div class="home-products-card-count">18 producten</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>