.back{
    width: 100%;
    background-color: var(--background-blue);
}
.container-for-all{
    max-width: var(--normal);
    margin: 0 auto;
    display: flex;
    padding: 3vh 15vmin 5vh 15vmin;
    
    color: var(--grey);
}

.cards-for-all{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3vmin;
    color: white;
}
.card-for-all{
    width: 100%;
    padding-top: 56.25%;
    /* aspect-ratio: 16 / 9!important; */
    background-position: center;
    background-size: cover;
    border-radius: 15px;
    position: relative;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    overflow: hidden;
}
.card-for-all .icon{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--main-blue);
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: 1vmin;
    margin-left: 1vmin;

}
.card-for-all .icon {
    min-height: 25px;
    min-width: 25px;
    max-width: 35px;
    max-height: 25px;
}
.card-for-all .icon i{
    font-size: 14px;
}
.infos-for-all{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 1vmin 2vmin 1vmin 2vmin;
    background-color: rgba(0, 0, 0, 0.475);
    align-items: start;
    width: 100%;
    min-height: 34%;
    margin-bottom: 0;
    transition: all 500ms ease-in;
}
.text-for-all{
    flex-grow: 1;
}
.text-for-all .title{
    font-size: 1.5vw;
    font-weight: 700;
}
.infos-for-all .text-for-all .summary{
    font-size: 0.8vw;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 1.5vmin;
    max-height: 3vmin;
    transition: all 400ms ease-in;
}

.infos-for-all:hover .text-for-all .summary{
    line-height: 1.5vmin;
    max-height: 4.5vmin;
    -webkit-line-clamp: 3;
} 
.infos-for-all:hover {
    min-height: 45%;
}
.mini-card-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap:1.5vmin;
   
}

.mini-card{
    background-color: white;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    padding-top: 56.25%;
    width: 100%;
    border-radius:15px;
    overflow: hidden;
    position: relative;
}
.mini-card .top{
    height: 50%;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
}
.mini-card .bottom{
    height: 50%;
    position: absolute;
    bottom:0;
    left: 0;
    right: 0;
    padding: 1vmin 2vmin;
    z-index: 2;
    background-color: white;
    transition: height 500ms;
}

.mini-card:hover .bottom{
    height: 65%;
}
.mini-card .bottom .title{
    font-weight: 700;
    font-size: 2.5vmin;
    color: var(--main-blue);
    margin-bottom: 1vmin;
}
.mini-card .bottom .text-sumary{
    font-size: 1.8vmin;
    color: var(--grey);
    flex: 1;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; 
    transition: all 1000ms ease-in;
}
.mini-card:hover .bottom .text-sumary{
    -webkit-line-clamp: 3; 
}
.link-container{
    width: 100%;
    background-color: white;
    height: 2vmin;
}
.mini-card .bottom .link{
    font-size: 1.5vmin;
    color: var(--main-blue);
    text-decoration: underline;
    position: absolute;
    bottom: 1vmin;
}

.bottom{
    padding: 2vmin;
    display: flex;
    flex-direction: column;
}

.for-all-title-container{
    display: flex;
}

.for-all-title{
    padding-bottom: 2vmin;
    margin-bottom: 3vmin;
    font-weight: 600;
    color: var(--dark-grey);
    border-bottom: 1px solid var(--dark-grey);
}
@media only screen and (max-width: 70em) {
    .infos-for-all{
        padding: 1vmin 1.5vmin;
    }
    .mini-card .bottom .text-sumary{
        font-size: 1vmin;
        -webkit-line-clamp: 2;
    }
    .mini-card .bottom .title{
        font-size: 1.8vmin;
        margin-bottom: 0.2vmin;
    }
    .link-container{
        height: 2vmin;
    }
    .mini-card .bottom .link{
        font-size: 1.2vmin;
        bottom: 0.8vmin;
    }
    .for-all-title{
        font-size: 2vmin;
    }
}

@media only screen and (max-width: 50em) {
    .cards-for-all{
        grid-template-columns: 1fr;
    }
    .mini-card-container{
        grid-template-columns: 1fr;
    }
    .mini-card .bottom .link{
        text-align: left;
    }
    .mini-card .bottom{
        padding: 2vmin 3vmin;
        grid-gap: 0;
    }
    .mini-card .bottom .title{
        font-size: 3vmin;
    }
    .mini-card .bottom .text-sumary{
        font-size: 2.5vmin;
        -webkit-line-clamp: 2;
    }
    .link-container{
        height: 3vmin;
    }
    .mini-card .bottom .link{
        font-size: 2vmin;
    }
    .text-for-all .summary{
        font-size: 1.8vmin;
    }
    .text-for-all .title{
        font-size: 2.5vw;
    }
    .infos-for-all{
        padding: 1.5vmin 2.5vmin;
    }
    .card-for-all .icon {
        min-height: 15px;
        min-width: 15px;
        max-width: 15px;
        max-height: 15px;
    }
    .card-for-all .icon i{
        font-size: 10px;
    }
    .for-all-title{
        font-size: 5vmin;
    }
}