<div class="container-stay-connected">
    <div class="stay-connected-box">
        <div class="stay-connected-logo-container">
            <img src="./../../../assets/images/cip-small_logo.png" alt="">
        </div>
        <div class="stay-connected-content">
            <div class="stay-connected-content-title">Stay connected</div>
            <div class="stay-connected-content-email">
                <div class="stay-connected-content-email-label">EMAIL ADDRESS</div>
                <div class="stay-connected-content-email-input-container">
                    <div class="stay-connected-content-email-inputfield"><input type="text"></div>
                    <div class="stay-connected-content-email-btn"><button>Sign up</button></div>
                </div>
            </div>
        </div>
    </div>
</div>