.container-stay-connected{
    max-width: var(--normal);
    margin: 0 auto;
    display: flex;
    padding: 3vh 15vmin 5vh 15vmin;
    justify-content: center;
}
.stay-connected-box{
    width: 95%;
    display: flex;
    grid-gap: 6vmin;
    padding: 2vh 3vw;
    border-radius: 15px;
    border: 1px solid var(--main-blue);
    color:var(--main-blue);
}
.stay-connected-logo-container{
    height: 10vh;
}
.stay-connected-content{
    flex-grow: 1;
}
.stay-connected-logo-container img{
    height: 100%;
}
.stay-connected-content-email-input-container{
    display: flex;
    grid-gap: 1vmin;
}
.stay-connected-content-email-inputfield{
    flex-grow: 1;
    background-color: var(--background-blue);
}
.stay-connected-content-email-inputfield input{
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    border-radius: 10px;
}
.stay-connected-content-title{
    font-size: 3vmin;
}
.stay-connected-content-email-label{
    font-size: 1.1vmin;
    color: var(--dark-grey);
    font-weight: 600;
}

.stay-connected-content-email-btn button{
    background-color: var(--main-blue);
    border-radius: 10px;
    color: white;
    padding: 0.5vmin 2vmin;
    border: 0;
    font-weight: 600;
}