<div class="products-container">
    <div class="products-content">

        <div class="products-info">
            <div class="products-title">
                <h1>
                    BIO en Thema-uitwerkingen
                </h1>
            </div>
            <div class="products-text">
                <p>
                    Hier vind je de tekst van de BIO: de Baseline Informatiebeveiliging Overheid. De BIO heeft een eigen website: bio-overheid.nl.
        Onder meer vind je op deze pagina thematische uitwerkingen bij de BIO. Deze zijn bedoeld als handreikingen bij de toepassing van de BIO. De maatregelen zijn SMART en compleet gemaakt met gegevens uit ISO, SoGP, NIST en COBIT. Deze informatie is ook te vinden in NORA-online (noraonline.nl/wiki/isor), waar de normen in een Wiki-bibliotheek zijn ondergebracht.
                </p>
            </div>
        </div>
        <div class="all-products">
            <div class="products-filters-container">
                <div class="filter-product-desktop dropdown dropdown-products">
                    <button class="products-dropdown-btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        Bio en Thema-uitwerkingen
                    </button>
                    <div onclick="event.stopPropagation()" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <div class="header-filter-products">
                            <div class="products-filters-selected"> 0 selected </div>
                            <div class="products-filters-clear-filter"> <a href="javascript:void(0)">Clear</a> </div>
                        </div>
                        <ul class="list-filters-products">
                        <!-- you need to pass the id of the checkbox -->
                          <li ><a onclick="toggleCheckbox(event,1)" class="dropdown-item" href="javascript:void(0)">
                              <div class="filter-custom-checbox">
                                 <!-- this id needs to match the id you are passing up -->  
                                <input id="1" type="checkbox" class="filter-products-fil-checkbox" name="bio-en-thema-uitwerkingen" value="CIP-casts " style="display: none;">
                                  <div class="filter-custom-checbox-box">
                                    <div class="checked">
                                        <i class="fa-solid fa-check"></i>
                                    </div>
                                  </div>
                              </div>
                              <div class="filter-products-fil-name">CIP-casts Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis odio nulla ut non consequuntur vel in magni molestiae, sit ipsam pariatur et, molestias tenetur nesciunt quam culpa iure hic unde.</div>
                              <div class="filter-products-fil-number">2</div>
                          </a></li>
                        </ul>
                    </div>
                </div>
                <div class="unique-filter-products">
                    
                </div>
            </div>
            <div class="products-cards">
                <div class="products-prod-card">
                    <div class="products-prod-card-image-container" >
                        <div class="products-prod-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="products-prod-card-text">
                        <div class="products-prod-card-type">Podcast</div>
                        <div class="products-prod-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="products-prod-card-readmore">Lees meer</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>