<div class="back-also-watch">
    <div class="container-also-watch">
        <div class="content-also-watch">
            <div class="content-also-watch-info-text">
                <div class="content-also-watch-title"><h1>Bekijk ook</h1></div>
                <div class="content-also-watch-text">Uiteraard kun je ook bij ons terecht voor andere zaken, zoals conferenties, werk- en domeingroepen, interessante CIP-Producten, Online webinars en Podcasts.</div>
            </div>
            <div class="content-also-watch-cards">
                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>

                <div class="content-also-watch-card">
                    <div class="content-also-watch-card-top">
                        <img src="./../../../assets/images/icon-confenrencies.svg" alt="">
                    </div>
                    <div class="content-also-watch-card-bottom">
                        <div class="content-also-watch-card-title">Conferenties</div>
                        <div class="content-also-watch-card-container-text">
                            <div class="content-also-watch-card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium sit nihil illum exercitationem? Dolorem numquam nihil libero ipsa non, quam odio placeat quo? Illum aliquam esse obcaecati, ipsam ducimus nihil?</div>
                        </div>
                        <div class="content-also-watch-card-readmore">
                            <a href="#">
                                Lees meer
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>