.featured-container{
    width: 100%;
    height: 100%;
}

.featured-content{
    max-width: var(--normal);
    margin: 0 auto;
    padding: 1vmin 5vmin;
    min-height: calc(100vh - 250px);
}
.featured-title{
    display: flex;
}
.featured-title h1{
    font-size: 3vmin;
    color: var(--main-blue);
    font-weight: 700;
    border-bottom: 1px solid var(--main-blue);
    margin-bottom: 3vmin;
    padding-bottom: 2vmin;
}
.featured-text p{
    font-size: 1.8vmin;
    font-weight: 500;
    color: var(--grey);
    line-height: 3.5vmin;
}
.featured-filters-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1vmin;
}
.dropdown-featured{
    width: 100%;
}
.featured-dropdown-btn{ 
    background-color: var(--light-blue);
    color: var(--main-blue);
    font-weight: 600;
    font-size: 1.6vmin;
    border: 0;
    width: 100%;
    padding: 0.7vmin 0.5vmin;
    border-radius: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.featured-dropdown-btn:hover,.featured-dropdown-btn.show{
    background-color: var(--main-blue);
    color: white;
}
.featured-cards{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 3vmin 3vmin;
    margin-top: 3vmin;
}
.featured-f-card-image-container{
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
}
.featured-f-card-image{
    width: 100%;
    padding-top: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: scale(1,1);
    transition: all 300ms ease-in;
}
.featured-f-card-text{
    padding: 1vmin 0 4vmin 0;
    position: relative;
}
.featured-f-card-type{
    font-size: 1.4vmin;
    color: var(--grey);
}
.featured-f-card-title{
    font-size: 1.8vmin;
    line-height: 2.5vmin;
    min-height: 5vmin;
    font-weight: 600;
    color: var(--dark-grey);
    flex: 1;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.featured-f-card-readmore{
    font-size: 1.5vmin;
    color: var(--main-blue);
    text-decoration: underline;
    position: absolute;
    bottom: 1vmin;
    cursor: pointer;
}
.featured-f-card{
    
}

.featured-f-card:hover .featured-f-card-image{
    transform: scale(1.2,1.2)
}

.featured-f-card:hover .featured-f-card-title{
    color: var(--main-blue);
}

.header-filter-featured{
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
    border-bottom: 1px solid var(--light-blue);
    font-size: 1.8vmin;
    color: var(--main-blue);
}
.header-filter-featured a{
    color: var(--main-blue);
    text-decoration: none;
}
.featured-filters-clear-filter a:hover{
    text-decoration: underline;
}
.dropdown-featured .dropdown-menu{
    width: 140%;
}
.list-filters-featured{
    list-style: none;
    margin: 0;
    padding: 1vmin;
}
.list-filters-featured .dropdown-item{
    display: flex;
    width: 100%;
    justify-content: space-between;
    grid-gap: 1vmin;
    padding: 0;
    align-items: center;
    color: var(--dark-grey);
    font-weight: 600;
    font-size: 1.8vmin;
}
.list-filters-featured .dropdown-item:active{
    background-color: transparent;
    color: var(--dark-grey);
}
.list-filters-featured .dropdown-item:hover{
    background-color: transparent;
    color: var(--main-blue);
}
.filter-featured-fil-name{
    flex-grow: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.6vmin;
}
.filter-custom-checbox-box{
    height: 20px;
    width: 20px;
    border-radius: 2px;
    border: 1px solid var(--main-blue);
    background-color: transparent;
    position: relative;
}

.big-box {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 100%;
}
.big-box .featured-bigbox-image-container{
        width: 100%;
        overflow: hidden;
        border-radius: 5px;
        height: 100%;
        position: relative;
}
.big-box .featured-bigbox-image-container .featured-f-card-image{
    padding: 0;
    height: 100%;
}
.filter-custom-checbox input:checked ~ .filter-custom-checbox-box .checked{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--main-blue);
}

.infos-featured{
    position: absolute;
    bottom: 0;
    display: flex;
    padding: 1vmin 2vmin 1vmin 2vmin;
    background: linear-gradient(0deg, rgb(0 0 0 / 69%) 0%, rgb(0 0 0 / 30%) 90%, rgb(0 0 0 / 9%) 100%);
    align-items: start;
    width: 100%;
    min-height: 20%;
    margin-bottom: 0;
    transition: all 500ms ease-in;
    color: white;
}
.text-featured{
    flex-grow: 1;
}
.text-featured .title{
    font-size: 3vmin;
    font-weight: 700;
}
.infos-featured .text-featured .summary{
    font-size: 2vmin;
    overflow: hidden!important;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-height: 2.5vmin;
    max-height: 5vmin;
    transition: all 400ms ease-in;
}

.infos-featured:hover .text-featured .summary{
    line-height: 2.5vmin;
    max-height: 7.5vmin;
    -webkit-line-clamp: 3;
} 
.infos-featured:hover {
    min-height: 25%;
}
.featured-bigbox-image-container .icon{
    height: 25px;
    width: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: var(--main-blue);
    border-radius: 50%;
    margin-top: auto;
    margin-bottom: 1vmin;
    margin-left: 1vmin;

}
.featured-bigbox-image-container .icon {
    min-height: 25px;
    min-width: 25px;
    max-width: 35px;
    max-height: 25px;
}
.featured-bigbox-image-container .icon i{
    font-size: 14px;
}
.filter-custom-checbox input:not(:checked) ~ .filter-custom-checbox-box .checked{
    display: none;
}

@media only screen and (max-width: 70em) {
    .featured-cards{
        grid-template-columns: repeat(4,1fr);
    }
    .featured-bigbox-image-container{
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

}

@media only screen and (max-width: 50em) {

}