<div class="featured-container">
    <div class="featured-content">

        <div class="featured-info">
            <div class="featured-title">
                <h1>
                    Uitgelicht
                </h1>
            </div>
            <div class="featured-text">
                <p>
                    Voor actuele ontwikkelingen en fora over diverse IB&P-onderwerpen verwijzen we graag naar onze digitale samenwerkingsomgeving cip.pleio.nl. Medewerkers van publieke organisaties en medewerkers van CIP-kennispartners kunnen daarvan lid worden. Als je al lid bent, ga naar cip.pleio. Als je nog geen lid bent, zie hier hoe je lid kunt worden.
                </p>
            </div>
        </div>
        <div class="all-featured">
            <div class="featured-cards">
                <div class="big-box">
                    <div class="featured-bigbox-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                        <div class="infos-featured">
                            <div class="text-featured">
                                <header class="title">Participanten</header>
                                <div class="summary">CIP is een publiek-private netwerkorganisatie met participanten en kennispartners. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Adipisci aliquam libero, quae fugit autem at voluptatem deserunt alias qui aut totam minima sequi consequuntur aliquid soluta ducimus saepe nesciunt id!</div>
                            </div>
                            <div class="icon"><i class="fa-solid fa-info"></i></div>
                        </div>
                    </div>
                </div>
                <div class="normal-box  featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                <div class="featured-f-card">
                    <div class="featured-f-card-image-container" >
                        <div class="featured-f-card-image" style="background-image: url(https://images.unsplash.com/photo-1512428559087-560fa5ceab42?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);"></div>
                    </div>
                    <div class="featured-f-card-text">
                        <div class="featured-f-card-type">Podcast</div>
                        <div class="featured-f-card-title">Huisvesting Informatievoorzieningen</div>
                        <div class="featured-f-card-readmore">Lees meer</div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    </div>