<div class="container-background-footer">
    <div class="contaier-footer">
        <div class="lists-footer">
            <div class="partners-footer footer-list">
                <h3>Partners</h3>
                <ul>
                    <li><a href="#">Participanten</a></li>
                    <li><a href="#">Kennispartners</a></li>
                </ul>
            </div>
            <div class="produts-footer  footer-list">
                <h3>Producten</h3>
                <ul>
                    <li><a href="#">BIO en Thema-uitwerkingen</a></li>
                    <li><a href="#">Secure Software</a></li>
                    <li><a href="#">Aanbesteden en inkopen</a></li>
                    <li><a href="#">Keten producten</a></li>
                    <li><a href="#">Ethiek, Awareness en meer</a></li>
                    <li><a href="#">Privacy bscherning</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>